body {
    background-image:linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
        );
    min-height: 100vh;
    color : white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}