body {
    background-image:linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
        );
    min-height: 100vh;
    color : white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1.5em 0;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1.5em;
}

.button-navigate{
    font-size: 3em;
}

.button-biggest{
    font-size: 4em;
}

#cover{
    width: 450px;
}

#playlist-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name{
    font-size: 1.5em;
    font-weight: bolder;
}

.ligth-color{
    color: rgb(139, 153, 156);
}

#progress-bar{
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress{
    background-color: white;
    height: inherit;
    width: 50%;
    border-radius: inherit;
}